<div class="xl:w-2/3">
  <div class="flex-col bg-gray-50 rounded p-2 min-w-full inline-block text-center xl:text-left xl:p-4">

    <%= form_for @converter, method: :post do |f|%>

      <div class="p-2">
        <h2 class=" pt-4 uppercase text-red-900 font-bold text-sm ">Enter company's ticker</h2>
        <div class="pb-4">
          <small class="text-gray-500">A 4-letter ticker, e.g. ADES, AGII</small>
        </div>
        <%= f.text_field :ticker, maxlength: '4', class: 'p-2 text-red-900 bg-gray-50 rounded border border-red-900 hover:bg-purple-100 w-24 text-center focus:outline-none' %>

      </div>
      <br>

      <div class="p-2">
        <h2 class="uppercase text-red-900 font-bold text-sm">Upload company's Annual Financial Statements</h2>

        <div class="pb-4">
          <small class="text-gray-500"><strong>Before uploading, open the downloaded file in Excel, then save. </strong> See <%= link_to "instructions", faq_path %>. <br> Leave blank if data is not available or not to be included. </small>
        </div>

        <h3 class=" text-red-900 text-sm"><strong>2020</strong></h3>
        <%= f.file_field :file_2020, accept: '.xlsx', class: 'text-red-900 rounded border border-red-900 p-2 mb-4 cursor-pointer hover:bg-purple-100 focus:outline-none' %>

        <h3 class=" text-red-900 text-sm"><strong>2019</strong></h3>
        <%= f.file_field :file_2019, accept: '.xlsx', class: 'text-red-900 rounded border border-red-900 p-2 mb-4 cursor-pointer hover:bg-purple-100 focus:outline-none' %>

        <h3 class=" text-red-900 text-sm"><strong>2018</strong></h3>
        <%= f.file_field :file_2018, accept: '.xlsx', class: 'text-red-900 rounded border border-red-900 p-2 cursor-pointer hover:bg-purple-100 focus:outline-none' %>
      </div>

      <div class="p-4 pb-4">
        <%= f.submit :convert, class: 'bg-red-800 font-bold text-white rounded p-2 px-8 mb-2 uppercase tracking-wider hover:bg-red-900 active:outline-white cursor-pointer' %>
          <br>
            <% flash.each do |type, msg| %>

              <% if type == 'alert' %>
                <p class="text-red-600 text-xs"><%= msg %>.</p>
              <% elsif type == 'success' %>
                <p class="text-green-600 text-xs"><%= msg %>.</p>
              <% else  %>
                <%= msg %>.
              <% end  %>
            <% end  %>
            <span class="text-gray-500 text-xs"><%= link_to "Restart extractor", root_path %></span>
        </div>
        <% end %>
